@font-face {
  font-family: "ao";
  src: url("fonts/Sharp Sans Semibold.otf");
}

@font-face {
  font-family: "dream";
  src: url("fonts/dream orphanage rg.otf");
}
@font-face {
  font-family: "ptown";
  src: url("fonts/HenriDiot.otf");
}
@font-face {
  font-family: "gorg";
  src: url("fonts/KIVEN.otf");
}
@font-face {
  font-family: "clas";
  src: url("fonts/RINGM___.TTF");
}

@font-face {
  font-family: "rela";
  src: url("fonts/Carrinady.otf");
}

#scrollToTopBtn {
  position: fixed; /* Stay in place */
  bottom: 20px; /* 20px from the bottom */
  right: 30px; /* 30px from the right */
  z-index: 99; /* Sit on top */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: rgba(255, 255, 255, 0.5); /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Pointer/hand icon */
  padding: 15px; /* Some padding */
  border-radius: 5px; /* Rounded corners */
  text-decoration: none; /* Remove underline */
  align-items: center;
  color: #755252;
  font-family: "rela";
}
body {
  margin: 0;
  font-family: "rela";
  display: flex;
  flex-direction: column;
  align-items: center; /* Center align items horizontally */
  justify-content: center; /* Center align items vertically */
  height: 100vh; /* Full height of the viewport */
  background-color: #ffffff; /* Light background color */
  padding-top: 50px;
}

.hero {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: 100% 100vh;
  background-attachment: fixed;
  padding-top: 7575px;
  padding-bottom: 300px;
}

.hero-heading {
  position: sticky; /* Make the hero heading sticky */
  line-height: 1.5; /* Consistent line height */
  margin-top: 100px;
  top: 0; /* Specify the top position */
  padding: 45px; /* Add some padding to make it look better */
  text-align: center;
  font-size: 70px;
  color: #000000f1;
  transition: font-family 0.05s ease;
}

.content {
  text-align: center; /* Center align text */
  padding-top: 100px;
}
.navbar {
  font-family: "Times New Roman", Times, serif;
  position: fixed; /* Make the navbar stay at the top even when scrolling */
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  z-index: 1;
}

.logo {
  margin-right: 20px;
}

.logo img {
  width: 40px;
  height: 40px;
}

.navbar-links {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  justify-content: center;
  flex-grow: 1;
  font-family: "rela";
}

.navbar-links li {
  margin: 0 20px;
}

.navbar-links a {
  text-decoration: none;
  color: #333;
  transition: transform 0.2s ease-in-out, color 0.2s ease-in-out;
}

.navbar-links a:hover {
  transform: scale(1.2);
  color: #666;
}

.contact-link {
  margin-left: auto;
  text-decoration: none;
  color: #333;
}

.leadpar {
  padding-left: 55px;
  padding-right: 55px;
  padding-bottom: 45px;
  font-size: 33px;
  font-family: "rela";
  display: flex;
  justify-content: center;
  text-align: center;
}
.big4h {
  text-align: center;
  font-family: "rela";
  font-size: 43px;
}
.big4p {
  padding-left: 55px;
  padding-right: 55px;
  padding-bottom: 45px;
  font-size: 33px;
  font-family: "rela";
  display: flex;
  justify-content: center;
  text-align: center;
}

.rogerh {
  text-align: left;
  font-family: "rela";
  padding-left: 95px;
  padding-right: 55px;
  padding-bottom: 45px;
  font-size: 48px;
}
.roger p {
  padding-left: 55px;
  padding-right: 55px;
  padding-bottom: 4px;
  font-size: 36px;
  font-family: "rela";
  display: flex;
  justify-content: center;
  text-align: center;
}

.nadalh {
  text-align: right;
  font-family: "rela";
  padding-left: 75px;
  padding-right: 95px;
  padding-bottom: 45px;
  font-size: 48px;
}
.nadal p {
  padding-left: 55px;
  padding-right: 55px;
  padding-bottom: 4px;
  font-size: 36px;
  font-family: "rela";
  display: flex;
  justify-content: center;
  text-align: center;
}

.nadalp img {
  text-align: left;
}

.djokoh {
  text-align: left;
  font-family: "rela";
  padding-left: 95px;
  padding-right: 55px;
  padding-bottom: 45px;
  font-size: 48px;
}
.djoko p {
  padding-left: 55px;
  padding-right: 55px;
  padding-bottom: 4px;
  font-size: 36px;
  font-family: "rela";
  display: flex;
  justify-content: center;
  text-align: center;
}

.andyh {
  text-align: right;
  font-family: "rela";
  padding-left: 95px;
  padding-right: 95px;
  padding-bottom: 45px;
  font-size: 48px;
}
.andy p {
  padding-left: 55px;
  padding-right: 55px;
  padding-bottom: 4px;
  font-size: 36px;
  font-family: "rela";
  display: flex;
  justify-content: center;
  text-align: center;
}

.andyp img {
  text-align: left;
}

.wofp {
  padding-left: 55px;
  padding-right: 55px;
  padding-bottom: 45px;
  font-size: 33px;
  font-family: "rela";
  display: flex;
  justify-content: center;
  text-align: center;
}

.wofp img {
  width: 15px;
  height: 1px;
}
.pic {
  width: 400px; /* Set the desired width */
  height: 550px; /* Set the desired height */
  object-fit: cover; /* Ensures the image maintains aspect ratio */
  margin: 10px; /* Add some space between images */
  margin-top: 0px;
  margin-right: 30;
  margin-left: 25px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  max-width: 100%;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
}
th,
td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
  font-size: 18px;
}
th {
  background-color: #ffdbdb;
}
img {
  width: 100px; /* Set a fixed width for images */
  height: auto; /* Maintain aspect ratio */
}
.tableh {
  text-align: center;
  font-size: 35px;
}

a {
  text-decoration: none; /* Remove underline from links */
  color: #007bff; /* Default link color */
  transition: color 0.3s; /* Smooth transition for color change */
}
a:hover {
  color: #ff5733; /* Change color on hover */
}
.footer {
  text-align: center;
  display: flex;
  justify-content: center;
  font-size: 18px;
}
